/* CSS Document */

.ap2
{
background-color:#CC66FF;
height:270px;
width:300px;
}
.z
{
background-color:#00FFFF;
height:30px;
width:60px;
}
.y
{
background-color:#FFFF00;
height:30px;
width:60px;
}
.vie
{
background-color:#999999;
height:200px;
width:90px;
}
.ab2
{
background-color:#FFCC00;
height:270px;
width:300px;
}
.xy
{
background-color:#336666;
height:30px;
width:60px;
}
.yz
{
background-color:#FF00CC;
height:30px;
width:60px;
}