ul
{
list-style:none;
width:100%;
font-size:100px;
}
li
{
display:inline;
}
li a
{
padding:100px;
text-decoration:none;
}
.m
{
height:50px;
width:200px;
background-color:#006699;
}
.n
{
height:50px;
width:200px;
background-color:#993399;
}
.j
{
background-color:#999999;
height:600px;
width:300px;
}
.sub
{
background-color:#6699FF;
height:30px;
width:60px;
}
.ad
{
background-color:#999999;
height:600px;
width:150px;
}
.cl
{
background-color:#009966;
height:650px;
width:300px;
}
.log
{
background-color:#996666;
height:30px;
width:60px;
}
.ch
{
background-color:#66CC66;
height:500px;
width:150px;
}
.sl
{
background-color:#663366;
height:650px;
width:300px;
}
.slo
{
background-color:#FF6633;
height:30px;
width:60px;
}
.sh
{
background-color:#CCCCCC;
height:600px;
width:150px;
}
.cu
{
background-color:#0066CC;
height:1035px;
width:500px;
}
.sav
{
background-color:#00FF33;
height:30px;
width:60px;
}
.se
{
background-color:#993333;
height:1035px;
width:500px;
}
.sa
{
background-color:#999999;
height:30px;
width:60px;
}
.v
{
background-color:#9999FF;
height:750px;
width:500px;
}
.buy
{
background-color:#993366;
height:30px;
width:60px;
}
.ap
{
background-color:#CC33CC;
height:800px;
width:500px;
}
.s
{
background-color:#CCCCCC;
height:30px;
width:60px;
}
.vie
{
background-color:#999999;
height:200px;
width:90px;
}
.vb
{
background-color:#CC6633;
height:700px;
width:500px;
}
.v
{
background-color:#00CCCC;
height:30px;
width:60px;
}
.bu
{
background-color:#66CC33;
height:510px;
width:700px;
}
.ord
{
background-color:#FFFF33;
height:30px;
width:60px;
}
.aps
{
background-color:#0099CC;
height:200px;
width:90px;
}

.apb
{
background-color:#999900;
height:200px;
width:90px;
}
